body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  text-align: center;
  color: #ffffff;
  overflow-x: hidden;
}

main {
  justify-content: center;
  align-items: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

.menu-principal {
  display: flex;
  background-color: #ffffff;
  padding: 5px 10px;
  align-items: center;
}

.menu-toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #36aa3f;
  background: none;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 5px 5px;
  transition: transform 0.2s ease;
}

.menu-toggle:hover {
  background: none;
  transform: rotate(-90deg);
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-overlay.show {
  display: block;
  opacity: 1;
}

.menu {
  display: none;
  color: #36aa3f;
  list-style-type: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-color: #ffffff;
  text-align: left;
  transform: translateX(100%);
  z-index: 3;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@media(max-width: 700px) {
  .menu {
      width: 100%;
  }
}

.menu-item a {
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    height: 7vh;
    color: #36aa3f;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.menu.show {
  display: block;
  animation-name: slideIn;
}

.menu.hide {
  animation-name: slideOut;
}

@keyframes slideIn {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(100%);
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 5vh;
  font-size: 25px;
}

.remove {
  border: none;
  background: none;
  color: #36aa3f;
  font-size: 20px;
}

.remove:hover {
  cursor: pointer;
  background: none;
}

.icone-ironhide {
  display: flex;
  left: 2vw;
  top: 1.5vh;
  align-items: center;
}

.numero-da-equipe {
  color: #36aa3f;
}

.title {
  font-size: 120%;
  justify-content: center;
  background-color: #ffffff;
  padding-bottom: 20px;
}

.container.white {
  background-color: #ffffff;
}

.container-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 5px;
}

.container-produto {
  margin: auto;
  width: 250px;
  height: 250px;
  margin-bottom: 150px;
}

@media(max-width: 570px) {
  .container-produto {
    width: 300px;
    height: 300px;
  }
}

.img-produto {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid gray;
  border-bottom: none;
  background-color: #ffffff;
}

.img-produto img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 245px;
}

.img-produto.mousepad img {
  height: 241px;
}

.descricao-produto {
  background-color: #36aa3f;
  padding: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid gray;
  border-top: none;
  margin-bottom: 50px;
}

.slideshow-container img {
  display: block;
  margin: auto;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.slideshow-container img.active {
  opacity: 1;
  transform: scale(1);
}

.ver-mais {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

.ver-mais:hover {
  cursor: pointer;
  transform: scale(1.10);
  background-color: #999;
}

.ver-mais a {
  color: black;
  text-decoration: none;
}