body {
    font-family: "Montserrat", sans-serif;
    background-color: #36aa3f;
    text-align: center;
    color: #ffffff;
    overflow-x: hidden;
}

main {
    justify-content: center;
    align-items: center;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

.menu-principal {
    display: flex;
    position: absolute;
    top: 0;
    padding: 5px 10px;
    align-items: center;
}

.menu-toggle {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #36aa3f;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 5px 5px;
    transition: transform 0.2s ease;
}

.menu-toggle:hover {
    background-color: #999;
    transform: rotate(-90deg);
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.menu-overlay.show {
    display: block;
    opacity: 1;
}

.menu {
    display: none;
    color: #36aa3f;
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-color: #ffffff;
    text-align: left;
    transform: translateX(100%);
    z-index: 3;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@media(max-width: 700px) {
    .menu {
        width: 100%;
    }
}

.menu-item a {
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    height: 7vh;
    color: #36aa3f;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.menu.show {
    display: block;
    animation-name: slideIn;
}

.menu.hide {
    animation-name: slideOut;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 5vh;
    font-size: 25px;
}

.remove {
    border: none;
    background: none;
    color: #36aa3f;
    font-size: 20px;
}

.remove:hover {
    cursor: pointer;
    background: none;
}

.icone-ironhide {
    display: flex;
    left: 2vw;
    top: 1.5vh;
    align-items: center;
}

.numero-da-equipe {
    color: #36aa3f;
}

.background {
    width: 100%;
}

.container {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
}

.conheca {
    margin-bottom: 15vh;
}

.color {
    color: #36aa3f;
}

.cartao {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.cartao-informacoes {
    background-color: #ffffff;
    color: black;
    display: flex;
    gap: 1vw;
    text-align: justify;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    padding: 1vh 1vw;
    border-radius: 10px;
    margin: auto;
    border: 2px solid black;
}

.cartao-informacoes img {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.slideshow-container img {
    display: block;
    margin: auto;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.slideshow-container img.active {
    opacity: 1;
    transform: scale(1);
}

.cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 1.5vh;
    border-bottom: 1px solid #6b727a;
}

.p1 {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.confira-aqui{
    background-color: #36aa3f;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
}

.confira-aqui:hover {
    transform: scale(1.05);
}

@media(max-width: 1000px) {
    .conheca {
        margin-bottom: 5vh;
    }

    .color {
        color: #ffffff;
    }

    .cartao-informacoes {
        height: auto;
        flex-wrap: wrap-reverse;
    }

    .p1 {
        padding: 10px;
    }
}